 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
} 
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: 62.5%  'Helvetica Neue', sans-serif;
    /* font-size: 62.5%;
    font-family: 'Roboto', sans-serif; */
}
.style_container {
    max-width: 1196px;
    margin: auto;
}
body {
    margin: 0;
}

:root {
    /* font-size: 1.6rem; */
    --primary : #16005C;
    --secondary : #3DBE71;
    --text: #828282;
    --link : #333333
}
bg-color {
    width: 100vw;
    height: 130px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 8px;
    background: #F9FFFB;
    height: 80px;
}
nav {
    /* font-size: 1.6rem; */
    width: 100%;
    /* margin: auto; */
    display: flex;
    justify-content: space-between;
}
.logo {
    display: inline-block;
    margin-left: 1.2rem;
    margin-right: 0px;
    color: var(--secondary);
    font-weight: 700;
    font-size: 1.6rem;
}
span {
    font-size: 1.6rem;
    font-weight: 700;

}
/* .active {
    color: var(--primary) !important;
} */
.logo-name{
    display: flex;
    align-items: center;
    color: var(--primary);
}
.active {
    color: var(--secondary) !important;
}
.grid {
    display: flex;
    grid-column-gap: 16px;
    align-items: center;
}
.nav-link {
    color: var(--link);
    font-size: 1.4rem;
    display: inline-block;
    padding: 8px 4px;
    letter-spacing: 0.004em;
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
.nav-link:hover {
    -webkit-animation: link-hover 300ms ease-in-out 10ms both;
    animation: link-hover 300ms ease-in-out 0ms both;
    color: var(--secondary);
    cursor: pointer;
    /* transform: scale(1.2); */
}
@keyframes link-hover {

    100% {
        transform: translateY(-4px);
    }
}
button {
    font-size: 1.4rem; 
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
    padding-left: 32px;
    color: #ffffff;
    background: var(--secondary);
    text-transform: uppercase;
    border-radius: 36px;
    letter-spacing: 0.04em;
    border: none;
    
}
button:hover {
    box-shadow: 0px 0px 24px 2px rgba(61, 190, 113, 0.1);
    cursor: pointer;
    transform: translateY(-2px);
    transition: 200ms ease-in-out;

}
 img {
    /* background: url(bg-color1.jpg); */
   
        position: absolute;
        top: -16px;
        left: 0px;
        width: 100%;
        height: 750px;
        right: 0px;
        margin: 0;
        z-index: -10;
        /* object-fit: cover; */
   
}
h1 {
    font-size: 4.8rem;
    width: 514px;
    height: 188px;
    color: var(--primary);
    margin: 0 0 24px 0;
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
}
.illustration {
    width: 650px;
    height: 424px;
    background: #EDFFF4;
}
.hero-text {
    display: block;
    width: 574px;
/* height: 48px; */
/* font-family: Roboto; */
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    margin: 0 0 32px 0;
    line-height: 150.69%;
/* or 24px */
    letter-spacing: 0.05em;
    color: var(--text);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .section {
    width: 1140px;
} */
.hero{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 16px;
}
h2 {
    /* width: 157px; */
    /* height: 47px; */
    /* line-height: 64px; */
    margin-top: 32px;
    margin-bottom: 0px;
    text-align: center;

/* font-family: Roboto; */
    font-style: normal;
    font-weight: normal;
    font-size: 4rem;
    line-height: 47px;
/* identical to box height */
    letter-spacing: 0em;
    text-transform: capitalize;
    color: var(--primary);
}
.body {
    max-width: 598px;
    margin: 16px auto 56px auto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    margin-bottom: 32px;
    line-height: 150.69%;
    text-align: center;
/* or 24px */
    letter-spacing: 0.05em;
    color: var(--text);
}
/* <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg> */

section {
    width: 100%;
    margin-top: 144px;
}
h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 27px;
    text-align: center;
    /* identical to box height */
    
    letter-spacing: 0.0025em;
    text-transform: capitalize;   
    margin-bottom: 24px;
    color: var(--primary);
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 350px;
    
    /* margin-right: 56px; */
}
dd {
    /* width: 300px; */
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    margin-bottom: 40px;
    margin-left: 0px;
    line-height: 150.69%;
    text-align: center;
/* or 24px */
    letter-spacing: 0.05em;
    color: var(--text);
}
.flex {
    /* max-width: 1140px; */
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
    flex-wrap: wrap;

}

@media only screen and (max-width: 600px), only screen and (max-width: 992px) {
    body {
        padding: 4px 8px;
    }
    .grid {
        display: none;
    }
    header {
        display: block;
        padding-left: 8px;
    }
    nav {
        display: block;
    }
    .svg {
        display: none;
    }
    .hero {
        flex-direction: column-reverse;
        margin-top: 32px;
        align-items: flex-start;
        padding-top: 24px;
    }
    .hero-text {
        width: auto;
    }
    h1 {
        font-size: 4rem;
        margin-top: 40px;
        width: auto;
        height: auto;
    } 
    .illustration {
        width: 100%;
    }
    .flex {
        width: unset;
    }
    .flex {
        flex-direction: column;
    }
    .content {
        margin: auto;
    }
    img {
        display: none;
    }
}


